
<%- include("partials/header.ejs") %>

<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <h1 class="text-body-emphasis">About</h1>
      <img src="/images/Photo.jpg" alt="My Photo" style="height: 250px; border-radius: 250px; margin: 20px;">
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        This website was made by Fagun Vora as a capstone project.
      </p>
    </div>
  </div>

  
<%- include("partials/footer.ejs") %>